@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$text_grey: #564c4b;
$border_grey: #cacaca;

*{
    font-family: Roboto, sans-serif;
    color: $text_grey;
}

main{
    margin-top: 1rem;
}

.banner{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: $border_grey 0 1px 2px;
}

h2{
    border-bottom: solid 1px $border_grey;
}
.col5{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.stars_cont{
    display: flex;
    height: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    width: 100%;

}