@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$text_grey: #564c4b;
$border_grey: #cacaca;
$light_grey: #f2f2f2;

*{
    font-family: Roboto, sans-serif;
    color: $text_grey;
    font-size: 1rem;
}

main{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.banner{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: $border_grey 0 1px 2px;
}

h2{
    border-bottom: solid 1px $border_grey;
}
.col5{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.stars_cont{
    display: flex;
    height: 5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    width: 100%;

}

.circle{
    border: solid $border_grey 1px;
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    margin-bottom: 1rem;
    th, td{
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        
    }
    tr:nth-child(2n){
        background-color: $light_grey;
        
    }
    tr{
        border-bottom: solid 1px $border_grey;
    }
    tr:last-child{
        border-bottom: solid 1px transparent;
    }
}

.servings_cont{
    display: flex;
    align-items: center;
    .label{
        font-size: 1.5rem;
        font-weight: lighter;
    }
    button{
        width: 1.5rem;
        height: 1.5rem;
        margin: .5rem;
        border: solid 0px;
        background-color: transparent;
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.blocked{
    pointer-events: none;
    color: $border_grey;
}